{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header sticky top-0 z-10">
			{% block header %}
        <div class="w-full bg-gray-400 text-right pr-5 md:pr-20 py-3">
          <a href="#contacto" class="text-white">Contactos</a>
          <a href="https://goo.gl/maps/xtShcgWNeEFqErCDA" target="_blank"><i class="fas fa-map-marker-alt ml-4 text-white"></i></a>
          <a href="mailto:atencionalcliente@printcorsac.com" target="_blank"><i class="far fa-envelope ml-4 text-white"></i></a>
          <a href="https://www.facebook.com/Printcorperu/" target="_blank"><i class="fab fa-facebook-f ml-4 text-white"></i></a>
        </div>
				<div class="wrapper bg-red-500 hidden md:block">
          <div class="container mx-auto flex items-center py-4">
            <a href="/"><img class="w-52" src="{{ site.theme.link }}/static/icon/logo-printcor.png" alt="logo printcor"></a>
            <nav id="nav-main" class="nav-main flex-grow" role="navigation">
              {% include "menu.twig" with {'items': menu.get_items} %}
            </nav><!-- #nav -->
            <a target="_blank" href="https://wa.me/51998277290"><i class="fab fa-whatsapp text-white text-2xl"></i></a>
          </div>
				</div>
				<div class="wrapper bg-red-500 block md:hidden">
          <div class="container mx-auto flex items-center justify-between p-4">
            <i id="hamburger" class="fas fa-bars text-white"></i>
            <a href="/"><img class="w-40" src="{{ site.theme.link }}/static/icon/logo-printcor.png" alt=""></a>
            <a target="_blank" href="https://wa.me/51998277290"><i class="fab fa-whatsapp text-white text-2xl"></i></a>
          </div>
				</div>
        <nav id="nav-main-mobile" class="nav-main hidden bg-red-500 fixed inset-0 z-50" role="navigation">
          <div class="flex justify-end">
            <i class="fas fa-times text-white text-4xl mr-5 mt-5 close"></i>
          </div>
          {% include "menu.twig" with {'items': menu.get_items, 'mobile': true} %}
        </nav>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
    <div id="splash-screen" class="fixed inset-0 bg-white flex justify-center items-center z-50">
      <i class="fas fa-circle-notch fa-spin text-red-500 text-4xl"></i>
    </div>
	</body>
</html>
